.standnote-countdown {
  background: #35353591;
  color: #fff;
  font-weight: bolder;
  font-size: 150px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000001;
  font-family: sans-serif;
}

.standnote {
  position: fixed;
  bottom: 20px;
  left: -220px;
  z-index: 1000000;
  padding: 6px 20px;
  display: flex;
  background: #2b2b2b;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  animation: slide-right 0.5s forwards;
}

@keyframes slide-right {
  from {
    left: -220px;
  }
  to {
    left: 20px;
  }
}

.standnote-timer {
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  padding: 2px;
  font-weight: 100;
  font-size: 16px;
}

.standnote-span {
  display: block;
  width: 96%;
  border-bottom: 1px solid #797777;
  margin: 1px;
  margin-bottom: 4px;
}

#standnote-cancel {
  color: #dbd9d9;
  font-weight: 100;
  position: absolute;
  top: 4px;
  right: 6px;
  cursor: pointer;
}

.standnote-action-buttons {
  display: flex;
  flex-direction: row;
}

.standnote-action-buttons > img {
  width: 48px;
  margin: 5px;
  cursor: pointer;
}
