@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  min-width: 300px;
  padding: 6px;
  background: #efefef;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

p {
  line-height: 1.4;
  color: #4e4e4e;
  font-weight: 600;
}

.logo {
  height: 60px;
  margin: auto;
  display: block;
}

.action-buttons {
  padding: 8px 14px;
  width: 100%;
  color: #fff;
  background: #1b8045;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  margin: 5px 0;
  cursor: pointer;
  transition: all 0.5s;
}

.action-buttons:focus {
  outline: none;
}

.action-buttons:hover {
  background: #166738;
}

.action-buttons:disabled {
  opacity: 0.65;
}

.action-buttons:disabled:hover {
  background: #1b8045;
}

form {
  margin: 10px;
}

form > div {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

form span {
  color: #4a4a4a;
  font-weight: 600;
  margin: 4px 0;
}

.form-input {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #acacac;
}

.form-input:hover {
  border-color: #7b7b7b;
}

.form-input:focus {
  outline: none;
  border-color: #727272;
}

#submit {
  margin: 12px 0;
}
