body {
  margin: 0;
  background: #efefef;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background: #32ac66;
  padding: 6px;
  display: flex;
  justify-content: center;
}

.navbar > img {
  height: 60px;
}

.content {
  width: 80%;
  margin: auto;
  display: flex;
}

.content > div {
  margin: 20px;
}

h1 {
  margin: 30px;
  font-size: 2.2rem;
  color: #4b4b4b;
  text-align: center;
  letter-spacing: 0.12ch;
}

textarea {
  width: 680px;
  height: 600px;
  padding: 10px 16px;
  display: block;
  margin: auto;
  border-radius: 6px;
  border: 1px solid #c6c6c6;
  resize: none;
  line-height: 1.5;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(31 154 219 / 40%);
}

button {
  margin: 24px auto;
  display: block;
  padding: 10px 24px;
  color: #fff;
  background: #1b8045;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

button:focus {
  outline: none;
}

button:hover {
  background: #166738;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-size: 1.4rem;
  color: #686868;
  font-weight: 500;
}

#score {
  font-weight: bold;
  font-size: 2.4rem;
  color: #41ac67;
}

.message {
  width: 80%;
  margin: auto;
  text-align: center;
  display: none;
}

.message img {
  width: 100px;
}

.message h1 {
  letter-spacing: normal;
  margin: 10px;
}
